/dts-v1/;
/plugin/;

/{
	compatible = "brcm,bcm2711";

	fragment@0 {
		target-path = "/";
		__overlay__
		{
			my_device 
			{
				compatible = "chan, my-device";
				my-number = <42>;
				my-string = "hello";
				gpios = <&gpio 17 0>;
			};
		};
	};
};
